* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}

*::selection {
    background: #006241;
    color: #fff;
}
.header {
    background: #006241;
    padding: 10px 20px 10px 10px;     
    display: flex;  
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75); 
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;   
    z-index: 1000;      
        
}
.header__logo {
    width: 55px;
    margin-left: 15px;          
}
.header__conteiner-navlink {
    display: none;
}
.header__conteiner-usuario {
    display: none;  
}
.header__conteiner-usuario-mobile i {
    color: #fff;    
    font-size: 45px; 
}
.main { 
    margin-top: 120px;  
    padding: 15px 15px 60px 15px;        
}
.main__conteiner-texto {  
    display: flex; 
    flex-direction: column;     
}
.main__texto-h2 {
    font-size: 50px;    
    line-height: 1.2;    

}
.main__texto-span {
    color: #006241; 
}
.main__texto-p {
    font-weight: bolder;
    margin-top: 20px;   
    font-size: 15px;    

}
.main__conteiner-logo {
    display: none;
}
.gallery {
    background: #006241;
    display: flex;
    flex-direction: column;
    padding: 30px 10px 30px 10px;  
    justify-content: center;  
    align-items: center;       
}
.gallery__img {
    margin: 10px 10px 10px 10px;    
    width: 90%; 
}