* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif ;
}

*::selection {
    background: #006241;
    color: #fff;
}
.header {
    background: #006241;
    padding: 10px 20px 10px 10px;     
    display: flex;  
    flex-direction: row;    
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 17px 0px rgba(0,0,0,0.75); 
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;   
    z-index: 1000;      
        
}
.header__logo {
    width: 55px;
    margin-left: 15px;          
}
.header__conteiner-navlink {
    display: none;
}
.header__conteiner-usuario {
    display: none;  
}
.header__conteiner-usuario-mobile i {
    color: #fff;    
    font-size: 45px; 
}
.main { 
    margin-top: 120px;  
    padding: 15px 15px 60px 15px;        
}
.main__conteiner-texto {  
    display: flex; 
    flex-direction: column;     
}
.main__texto-h2 {
    font-size: 50px;    
    line-height: 1.2;    

}
.main__texto-span {
    color: #006241; 
}
.main__texto-p {
    font-weight: bolder;
    margin-top: 20px;   
    font-size: 15px;    

}
.main__conteiner-logo {
    display: none;
}
.gallery {
    background: #006241;
    display: flex;
    flex-direction: column;
    padding: 30px 10px 30px 10px;  
    justify-content: center;  
    align-items: center;       
}
.gallery__img {
    margin: 10px 10px 10px 10px;    
    width: 90%; 
}
.contactus {
    background: #141414;  
    padding: 40px 15px 40px 15px;
    display: flex;  
    flex-direction: column;   
    align-items: center;
    width: 100%;    
         

}
.contactus__h2 {
    color: #006241;
    text-align: center;
    font-size: 32px;
    margin-bottom: 25px; 

}
.contactus__form {
    background: #006241;
    padding: 15px; 
    width: 285px;   

}
.contactus__label {
    color: #fff;
    font-size: 14px;
    display: flex;
    flex-direction: column;  
    width: 90%; 
    margin-top: 5px;
    padding: 5px 2px 5px 2px;
    border-radius: 10px;
    border: 0;  

}
.contactus__input {
    color: #fff; 
    font-size: 14px;
    display: flex;
    flex-direction: column;   
    width: 90%; 
    margin-top: 10px;
    padding: 5px 2px 5px 2px;
    border-radius: 10px; 
    border: 0;     
}
.contactus__input::placeholder {
    font-size: 12px;
    color: #006241; 
    font-weight: bold;
}
.contactus__input:focus {
    color: #fff;     
    background: #000;
  
}

.contactus__button {
    background: inherit;
    border: 2px solid #fff;
    color: #fff;
    width: 45%;  
    height: 30px;   
    border-radius: 7.5px;  
    margin-top: 15px;   
    padding: 4px ;   
    transition: all 1s;    
}
.contactus__button:hover {
    background: #d8f007;
    border: #d8f007;
}
.cards {
    padding: 20px 15px 20px 15px;
    display: flex;
    flex-direction: column; 
    align-items: center;   

}
.cards__conteiner-card {
    background: #006241;
    margin: 20px 0px 5px 0px;  
    color: #fff; 
    position: relative;   
    width: 85%;

}
.cards__circulo-amarillo {
    border-radius: 50%;
    background: #d8f007;
    width: 60px;
    height: 60px;
    color: #000;
    font-weight: bold;  
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;    
    position: absolute;
    right: -25px;
    top: -25px; 


}
.cards__img {
    width: 100%;
    object-fit: cover;      

}
.cards__conteiner-text {
    padding: 0px 15px 0px 15px; 

}
.cards__span {
    color: #d8f007;

}
.cards__p {
    font-size: 13px;
    margin: 7.5px 0px 7.5px 0px;    

}
.cards__button {
    background: inherit;
    border: 2px solid #fff;
    color: #fff;
    width: 210px;     
    height: 35px;   
    border-radius: 7.5px;  
    margin: 7px 0px 5px 10px;     
    padding: 5px 30px 5px 30px;   
    transition: all 1s; 
    text-decoration: none;   
    font-size: 12px;

}
.cards__button-conteiner-deliv {
    display: flex;
    flex-direction: column;
}
.cards__button:hover {
    background: #d8f007;
    border: #d8f007;
}